{%extends "base.html" %}

{%block titulo %} - Home {% endblock %}

{%block conteudo %}
    <h1 class="text-center">Faculdade Impacta Técnologia</h1>
    <h4>CONHEÇA NOSSOS CURSOS</h4>
    <p>Considerada uma das melhores faculdades 
        com foco em tecnologia do País, a Faculdade 
        Impacta oferece cursos de Graduação, Pós-Graduação 
        e MBA e cursos técnicos. Conheça quais são as áreas de 
        conhecimento que a Impacta aborda e saiba um pouco mais sobre cada curso:
    </p>
<ul>
    <li>Graduação</li>
    <li>Pos e MBA</li>
    <li>Técnico</li>
</ul>
{% endblock %}